<ngx-spinner type="ball-fussion" size="medium" color="#fff">
  <p>{{ titleSpinner }}</p>
</ngx-spinner>

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h3>
          <i class="fa fa-user-md"></i>
          &nbsp;Lista de médicos
        </h3>
        <button class="btn btn-outline-primary" (click)="abrirNuevoMedico()">
          <i class="fa fa-plus"></i>
          Nuevo medico
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Tipo de documento</th>
              <th># documento.</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Teléfono</th>
              <th>Registro Profesional</th>
              <th>Especialidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicoList">
              <td>{{ medico.id }}</td>
              <td>{{ medico.tipoDocumento }}</td>
              <td>{{ medico.documento }}</td>
              <td>{{ medico.nombres }}</td>
              <td>{{ medico.apellidos }}</td>
              <td>{{ medico.telefono }}</td>
              <td>{{ medico.registroProfesional }}</td>
              <td>{{ medico.especializacion.nombre }}</td>
              <td>
                <button type="button" class="btn btn btn-outline-primary" title="Editar médico" (click)="editarModalMedico(medico)">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal para nuevo medico -->
<div class="modal fade" id="modalCrearMedico" tabindex="-1" aria-labelledby="modalCrearMedicoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalCrearMedicoLabel">
          {{ titleModal }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <form [formGroup]="form">
              <!--  Tipo de documento -->
              <div class="mb-3">
                <label for="tipoDocumento" class="form-label">Tipo de documento</label>
                <select formControlName="tipoDocumento" class="form-control" id="rol" [ngModel]="medicoSelected?.tipoDocumento || ''">
                  <option value="" disabled selected>Seleccione el tipo de documento</option>
                  <option value="CC">Cédula de ciudadanía</option>
                  <option value="PA">Pasaporte</option>
                  <option value="CE">Cédula de extranjería</option>
                </select>
                <div *ngIf="form.get('tipoDocumento')?.hasError('required') && form.get('tipoDocumento')?.touched" class="text-danger">
                  El Tipo de documento del médico es requerido.
                </div>
              </div>

              <!--  Número del documento -->
              <div class="mb-3">
                <label for="documento" class="form-label">#. Documento</label>
                <input
                  type="text"
                  formControlName="documento"
                  class="form-control"
                  id="documento"
                  placeholder="Ingrese el número de documento"
                  [ngModel]="medicoSelected ? medicoSelected.documento : ''"
                />
                <div *ngIf="form.get('documento')?.hasError('required') && form.get('documento')?.touched" class="text-danger">
                  El número de documento es requerido.
                </div>
              </div>

              <!--  Nombres -->
              <div class="mb-3">
                <label for="nombres" class="form-label">Nombre completo</label>
                <input
                  type="text"
                  formControlName="nombres"
                  class="form-control"
                  id="nombres"
                  placeholder="Ingrese el nombre completo del médico"
                  [ngModel]="medicoSelected ? medicoSelected.nombres : ''"
                />
                <div *ngIf="form.get('nombres')?.hasError('required') && form.get('nombres')?.touched" class="text-danger">
                  Los nombres son requeridos.
                </div>
              </div>

              <!--  Apellidos -->
              <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input
                  type="text"
                  formControlName="apellidos"
                  class="form-control"
                  id="apellidos"
                  placeholder="Ingrese los apellidos del médico"
                  [ngModel]="medicoSelected ? medicoSelected.apellidos : ''"
                />
                <div *ngIf="form.get('apellidos')?.hasError('required') && form.get('apellidos')?.touched" class="text-danger">
                  Los apellidos son requeridos.
                </div>
              </div>

              <!--  Telefono -->
              <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input
                  type="text"
                  formControlName="telefono"
                  class="form-control"
                  id="telefono"
                  placeholder="Ingrese el telefono o celular"
                  [ngModel]="medicoSelected ? medicoSelected.telefono : ''"
                />
                <div *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched" class="text-danger">
                  El telefono o número de celular es requerido.
                </div>
              </div>

              <!--  Registro profesional -->
              <div class="mb-3">
                <label for="registroProfesional" class="form-label">Registro o tarjeta profesional</label>
                <input
                  type="text"
                  formControlName="registroProfesional"
                  class="form-control"
                  id="registroProfesional"
                  placeholder="Ingrese el número de tarjeta o registro profesional"
                  [ngModel]="medicoSelected ? medicoSelected.registroProfesional : ''"
                />
                <div
                  *ngIf="form.get('registroProfesional')?.hasError('required') && form.get('registroProfesional')?.touched"
                  class="text-danger"
                >
                  El registro o la tarjeta profesional es requerida.
                </div>
              </div>

              <!--  Especializacion especializacion -->
              <div class="mb-3">
                <label for="tipoDocumento" class="form-label">Especializacion</label>
                <select formControlName="especializacion" class="form-control" id="especializacion" [ngModel]="medicoSelected?.especializacion || ''">
                  <option value="" disabled selected>Seleccione la especialidad del médico</option>
                  <option [value]="especialidad.id" *ngFor="let especialidad of especializacionList">{{especialidad.nombre}}</option>
                 
                </select>                
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarMedico()">{{ titleBoton }}</button>
      </div>
    </div>
  </div>
</div>
