<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col d-flex">
          <h3 class="mb-0">
            <i class="fa fa-users"></i>
            Mis Medicamentos
          </h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <td>Id</td>
              <td>Nombre</td>
              <td>Descripción</td>
              <td>Presentación</td>
              <td>Fecha de compra</td>
              <td>Fecha de vencimiento</td>
              <td>Fecha de creación</td>
              <td>Fecha de modificación</td>
            </tr>
          </thead>
           <tbody *ngIf="medicamentoList.length > 0">
            <tr *ngFor="let medicamento of medicamentoList">
                <td>{{ medicamento.id }}</td>
                <td>{{ medicamento.nombre }}</td>
                <td>{{ medicamento.descripcion }}</td>
                <td>{{ medicamento.presentacion }}</td>
                <td>{{ medicamento.fechaCompra | date:'dd/MM/yyyy' }}</td>
                <td>{{ medicamento.fechaVence | date:'dd/MM/yyyy' }}</td>
                <td>{{ medicamento.fechaCreacionRegistro | date:'dd/MM/yyyy' }}</td>
                <td>{{ medicamento.fechaModificacionRegistro | date:'dd/MM/yyyy' }}</td>
                <td>
                    <button class="btn btn-outline-primary" (click)="probarBoton(medicamento)">
                    <i class="fa fa-edit"></i>
                    &nbsp;Editar
                    </button>
                </td>
            </tr>
    
           </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
