<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="mb-0">
          <i class="fa fa-users"></i>
          &nbsp;Mis usuarios
        </h3>
        <button class="btn btn-outline-primary" (click)="abrirNuevoUsuario()">Nuevo Usuario</button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>Rol</th>
              <th>Fecha de creación</th>
              <th>Activo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody *ngIf="usuarios.length > 0">
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.rol }}</td>
              <td>{{ usuario.fechaCreacion | date: 'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ usuario.activo === true ? 'Activo' : 'Inactivo' }}</td>
              <td>
                <button class="btn btn-outline-primary" (click)="abrirEditarUsuario(usuario)">
                  <i class="fa fa-edit"></i>
                  &nbsp;Editar
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="usuarios.length === 0">
            <tr>
              <td colspan="5" class="text-center">No hay usuarios disponibles.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Explicar Creacion del modal -->
<!-- Modal -->
<div class="modal fade" id="modalCrearUsuario" tabindex="-1" aria-labelledby="modalCrearUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalCrearUsuarioModalLabel">
          {{ titleModal }}
        </h1>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <form [formGroup]="form">
              <!--  Nombre de usuario -->
              <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input
                  type="text"
                  formControlName="username"
                  class="form-control"
                  id="username"
                  placeholder="Ingrese el nombre de usuario"
                />
                <div *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched" class="text-danger">
                  El nombre de usuario es requerido.
                </div>
                <div *ngIf="form.get('username')?.hasError('minLength') && form.get('username')?.touched" class="text-danger">
                  El nombre de usuario debe tener al menos 4 caracteres.
                </div>
                <div *ngIf="form.get('username')?.hasError('maxLength') && form.get('username')?.touched" class="text-danger">
                  El nombre de usuario debe tener máximo 12 caracteres.
                </div>
              </div>
              <!--  Password -->
              <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input
                  type="password"
                  formControlName="pass"
                  class="form-control"
                  id="pass"
                  placeholder="Ingrese la contraseña del usuario"
                />
                <div *ngIf="form.get('pass')?.hasError('required') && form.get('pass')?.touched" class="text-danger">
                  La contraseña es requerido.
                </div>
              </div>
              <!--  Rol -->
                            <div class="col-md-6">
                <label for="rol" class="form-label">Rol</label>
                <select formControlName="rol" class="form-control" id="rol">
                  <option value="ADMIN">Administrador</option>
                  <option value="MEDICO">Médico</option>
                  <option value="ASISTENTE">Asistente</option>
                </select>
              </div>
              <!--  Estado del usuario -->
                            <div class="col-md-6">
                <label for="activo" class="form-label">Estado</label>
                <select formControlName="activo" class="form-control" id="activo">
                  <option [value]="true">Activo</option>
                  <option [value]="false">Inactivo</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarUsuario()">{{ titleBoton }}</button>
      </div>
    </div>
  </div>
</div>
